@model DepartmentViewModel
@{
    ViewData["Title"] = "Create";
}

<div class="row justify-content-center align-content-center mt-3">
    <h1 class="col-8 my-4">Create Department</h1>

    <form class="col-8" mothed="post" asp-controller="Department" asp-action="Create">

        <partial name="PartialView/_CreateEditPartialView" model="Model"></partial>

        <div class="mt-4 m-auto">
            <input class="btn btn-primary" type="submit" value="Create" />
            <a class="btn btn-outline-dark" asp-controller="Department" asp-action="Index">Back to list</a>
        </div>
    </form>
</div>

